extends layout

block content
  h1 Connect your health data
  p
    | Email:
    br
    input#user-email(type='email')
  br
  p
    img#connect-health-data-btn(src='https://connect.humanapi.co/assets/button/blue.png')
  script(src='/js/script.js')
