extends layout

block content
  h1 Connect your health data
  p
    img#connect-health-data-btn(src='https://connect.humanapi.co/assets/button/blue.png')
  br
  p
    a(class='button', href='/profile/dashboard') Go to my dashboard!
          
      
  script(src='/js/script.js')
