extends layout
  
block content
  .container
    .row
      .col-8
        h6 You are logged in as #{name}.
        h2 Welcome to your health dashboard!
      .col-4
        p Click here to connect additional data sources or remove existing ones:
          img#connect-health-data-btn(src='https://connect.humanapi.co/assets/button/blue.png')
    .row
      .col-8
        h5 Trigger data retrievals:
        ul
          li
            a(class='button', href='/profile/refreshsources', method='GET') Refresh my sources of data!
          li
            a(class='button', href='/profile/buildsourcelist', method='GET') Build my source list of data!
          li
            a(class='button', href='/profile/refreshactivity', method='GET') Get my latest activity summaries!
    br
    .row
      .col-4
        table.table
          thead.thead-light
            tr
              th Your connected data sources are:
          tbody
            tr
              td #{sourceList}
      .col-4
        table.table
          thead.thead-light
            tr
              th Your recent activity summary:
            tbody
              tr
                td coming soon...
  
  script(src='/js/script.js')
