extends layout

block content
  main
    .container
      .row
        .col
        .col
          h3 Log In
          form(method='POST', action='/auth/login')
            if (message)
              .alert.alert-danger
                p <strong> Hmm.. </strong> Invalid username or password. Try again.
            #form-group
              label Username:
              input.form-control(name='username',type='string')
            #form-group
              label Password:
              input.form-control(name='password',type='password')
            br
            input.btn.btn-primary(type='submit',value='Submit')
          br
          p Don't have an account?
          a(class='button', href='/auth/register') Register here!
        .col
          

  
