extends layout

block content
  main
    .container
      .row
        .col
        .col
          h1 Register
          form(method='POST', action='/user/register')
            #form-group
              label Name:
              input.form-control(name='name', type='text')
            #form-group
              label Username:
              input.form-control(name='username', type='text')
            #form-group
              label Email:
              input.form-control(name='email', type='email')
            #form-group
              label Password:
              input.form-control(name='password',type='password')
            #form-group
              label Confirm Password:
              input.form-control(name='password2',type='password')
            br
            input.btn.btn-primary(type='submit',value='Submit')
          br
          p Already have an account?
          a(class='button', href='/user/login') Log in here!
        .col
